

.btn-submit {
    height: 4em;
    /* line-height: 86px; */
    padding: 0 3em 0 2em;
    border-radius: 2px;
    border: 2px solid #fff;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: .25em;
    transition: all 0.4s ease-out;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 392px;
    /* width: 80%; */
    background: #e2555b;
    color: #fff;
    margin: 2em 1em;
    text-align: left;
    border-color: #e2555b;
    position: relative;
}

.btn-submit i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.7em;
    width: 1.3em;
    height: 1.3em;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 1em;
}

.btn-submit i:before {
    margin-left: 6px;
}




/* Styles for Accordion */
.toggle:last-child {
    border-bottom: 1px solid #dddddd;
  }
  .toggle .toggle-title {
    position: relative;
    display: block;
    border-top: 1px solid #dddddd;
    margin-bottom: 6px;
  }
  .toggle .toggle-title h3 {
    font-size: 20px;
    margin: 0px;
    line-height: 1;
    cursor: pointer;
    font-weight: 200;
  }
  .toggle .toggle-inner {
    padding: 7px 25px 10px 25px;
    display: none;
    margin: -7px 0 6px;
  }
  .toggle .toggle-inner div {
    max-width: 100%;
  }
  .toggle .toggle-title .title-name {
    display: block;
    padding: 25px 25px 14px;
  }
  .toggle .toggle-title a i {
    font-size: 22px;
    margin-right: 5px;
  }
  .toggle .toggle-title i {
    position: absolute;
    background: url("http://arielbeninca.com/Storage/plus_minus.png") 0px -24px no-repeat;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
    margin: 20px;
    right: 0;
  }
  .toggle .toggle-title.active i {
    background: url("http://arielbeninca.com/Storage/plus_minus.png") 0px 0px no-repeat;
  }
  