:root {
    /* Base font size */
    font-size: 14px;

    /* Heading height variable*/
    --heading-height: 11em;

    --aside-width: 290px;

    --page-width: 90%;
}

:root,
html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 2rem;
    font-weight: 200;
    color: #6b6363;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
}

.page {
    min-height: 100vh;
}

.page__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: var(--page-width);
    margin: 0 auto;
    /* margin-bottom: 4em; */
    margin-top: var(--heading-height);
}

.aside {
    position: relative;
    box-sizing: border-box;
    padding: 140px 18px 100px 20px;
    /* width: 460px; */
    background-color: #fff;
    z-index: 1;
    width: var(--aside-width);
    max-width: var(--aside-width);
}

.aside::before {
    position: absolute;
    content: '';
    right: -0.75rem;
    top: 0;
    bottom: 0;
    width: .75rem;
    background: linear-gradient(to right, #e6e6e6, transparent);
    z-index: -1;
}

.aside__main-menu {
    margin-bottom: 6rem;
}

.main {
    /* width: 80%; */
    width: calc(var(--page-width) - var(--aside-width) - 2em);
    padding-bottom: 120px;
    /* padding-top: 7em; */
    /* margin-bottom: 4em; */
    /* margin-top: var(--heading-height);     */
}


.panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    display: block;
    background-color: #FFF;
    clear: right;
    margin-left: 2em;
}

footer {
    clear: both;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    z-index: 2;
}

/* ============= INVITE TEACHERS PAGE ============== */
/* new custom styles */
.page__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
aside.menu.jp-menu{
    flex: 0 0 25.75em;
    background: #fff;
    /* box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.05); */
    padding: 2em 1em 2em 1em;
}
aside.menu.jp-menu nav{
    padding: 0em 1em;

}
.jp-menu.fixed{
    position: fixed;
    z-index: 9;
}
.jp-page__main{
    flex: 0 0 calc(100% - 27.75em);
    /* max-width: calc(100% - 27.75em); */
}
.jp-page__main.fixed{
    flex-shrink: 1;
    flex-flow: 1;
}


@media screen and (min-width: 780px) {
    .panel {
        /* margin-left: 20px; */
    }

    .slideout-menu {
        display: block;
    }

    aside.menu {
        position: relative;
        float: left;
        height: fit-content;
    }

}